html, body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
}

@import 'partials/_decorations.scss';
@import 'partials/_text.scss';

